@model IEnumerable<Doh>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div>

    <a asp-action="Create" asp-asp-controller="Governorates" class="btn btn-primary">Create new Governorate</a>

</div>


<table class="table table-bordered table-hover">



    <tr>

     
        <th>@Html.DisplayNameFor(c=>c.DohName)</th>
        <th>@Html.DisplayNameFor(c=>c.GovernorateId)</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>  @item.DohName</td>
            <td>  @item.GovernorateId</td>

        </tr>
        <tr>
         <td>
                <a asp-route-id="@item.DohId" class="btn btn-warning btn-sm" asp-action="Edit">Edit</a>
                <a asp-route-id="@item.DohId" class="btn btn-danger btn-sm" asp-action="Delete">Delete</a>
                <a asp-route-id="@item.DohId" class="btn btn-secondary btn-sm" asp-action="Details">Details</a>

                    </td>
                </tr>
    }

</table>





