@model IEnumerable<Governorate>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div>

    <a asp-action="Create" asp-asp-controller="Governorates" class="btn btn-primary ">Add New  </a>
    <a asp-action="Import" asp-asp-controller="Governorates" class="btn btn-warning ">Import</a>
  
</div>
<div class="row">
    <div class="col-5">

      
    </div>
</div>
<hr />
<table id="myTable" class="table table-bordered table-hover">

    <thead>
        <tr>


     
        <th>@Html.DisplayNameFor(c=>c.GovernorateName)</th>

        <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

            <td>  @item.GovernorateName</td>


            <td>

                <a asp-route-id="@item.GovernorateId" class="btn btn-warning btn-sm" asp-action="Edit">Edit</a>
                <a asp-route-id="@item.GovernorateId" class="btn btn-danger btn-sm" asp-action="Delete">Delete</a>
                <a asp-route-id="@item.GovernorateId" class="btn btn-secondary btn-sm" asp-action="Details">Details</a>
            </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var js = jQuery.noConflict(true);
        js(document).ready(function () {
            js('#myTable').DataTable({
            });
        });
    </script>
}
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

