@model Nahia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nahia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NahiaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NahiaName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GovernorateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GovernorateId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DohId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DohId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DistrictId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="NahiaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
