@model HealthInstitution

@{
    ViewData["Title"] = "EditGovernorate";
}

<h1>Modify Information of doh</h1>
<h2 class="text-danger">@ViewBag.check</h2>
<form method="post" asp-action="Edit" asp-controller="HealthInstitutions">
    <input type="hidden" asp-for="HealthInstitutionId" />
    <table class=" table table-bordered table-striped">
        <input type="hidden" asp-for="HealthInstitutionId" />
        <tr>
            <td> <label asp-for="HealthInstitutionName"></label> </td>
            <td>
                <input asp-for="HealthInstitutionName" class="form-control" placeholder="Enter Name" />
                <span class="text-danger" asp-validation-for="HealthInstitutionName"></span>
            </td>

        </tr>
        <tr>
            <td> <label asp-for="GovernorateId"></label> </td>
            <td>
               
                <select asp-for="GovernorateId" id="GovernorateId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofGov,"GovernorateId", "GovernorateName"))"></select>
            </td>

        </tr>
        <tr>
            <td> <label asp-for="DohId"></label> </td>
            <td>
              
               @* <select asp-for="DohId" id="DohId" class="form-control">
                <option value="">يرجى اختيار دائرة الصحة</option>  </select>*@

                <select asp-for="DohId" id="DohId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Listdoh,"DohId", "DohName"))"></select>
                    
              
            </td>

        </tr>
        <tr>
            <td> <label asp-for="FacilityTypeId"></label> </td>
            <td>
                <select asp-for="FacilityTypeId" id="FacilityTypeId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofFacilityType,"FacilityTypeId", "FacilityTypeName"))"></select>
            </td>

        </tr>
       
        <td colspan="2">
            <input type="submit" value="UpDate" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-warning">Cancle</a>
        </td>

        </tr>
    </table>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/jquery.min.js"></script>

@*<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value=يرجى الاختيار </option>";
     //  $('#DohId').html(items);

    });
</script>*@
‌
<script type="text/javascript">
    $(document).ready(function () {
        $('#GovernorateId').change(function () {
            var url = '@Url.Content("~/")' + "Account/GetDoh";
            var ddlsource = "#GovernorateId";
            $.getJSON(url, { GovernorateId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#DohId").empty();
                $.each(data, function (i, doh) {
                    items += "<option value='" + doh.value + "'>" + doh.text + "</option>";
                });
                $('#DohId').html(items);
               
            });
        });


    });

</script>